{% extends "base.html" %}
{% block content %}
  <h1>Предметы</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.submit() }}
  </form>
  <ul>
    {% for subject in subjects %}
      <li>
        {{ subject.name }}
        <div>
          <a href="{{ url_for('edit_subject', id=subject.id) }}">Редактировать</a>
          <form action="{{ url_for('delete_subject', id=subject.id) }}" method="POST">
            <button type="submit">Удалить</button>
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
